table, th, td{
    border: 2px solid;
    border-color: #930707;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f5f5;
}

th{
    text-align: left;
    background-color: #930707;
    color: white;
}

.totalTable {
    max-width: 75%;
    margin-left: 75px;
}