.explore {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.profilePicture {
	margin-top: 3%;
	width: 75px;
	height: 75px;
	margin-bottom: 3%;
}

h1 {
	color: black;
	text-decoration: none;
}

h2 {
	color: black;
	text-decoration: none;
}

.userCard {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 40%;
	height: 10%;
	border-radius: 15px;
    border: 5px solid #a18f7c;
	margin-bottom: 1%;
	justify-content: space-between;
}

.user {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.bio {
	margin-bottom: 6%;
	font-size: 17px;
	overflow: hidden;
}

.profileNames {
	margin: 0;
	margin-bottom: 2%;
}

.user {
	font-size: 25px;
}

.full {
	font-size: 20px;
	font-weight: normal;
	color: #444444;
}

.profileLink {
	text-decoration: none;
}

.profileInfo {
	margin-left: 2%;
}

.visitSec {
	display: flex;
	align-items: center;
	margin-right: 5%;
}

.visitButton {
	background-color: #49672d;
	padding: 15px 55px;
	border-radius: 25px;
	color: white;
	font-weight: bold;
}

.footer-break {
	margin-bottom: 28.7%;
}

.searchBar {
	width: 750px;
	height: 35px;
	border-radius: 12.5px;
}

.search {
	margin-bottom: 2%;
}