.Messages {
    padding-left: 10%;
}

.Messaging {
    padding-left: 10%;
}

.MessagingScreen {
    height: 93%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    right: 0;
}

.otherMessages {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    left: 0;
    background-color: #dd0000;
}

.MessagingTexter {
    height: 7%;
    width: 70%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    overflow-x: hidden;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.MessageChat {
    width: 90%;
    height: 79%;
    margin-right: 0%;
    border-radius: 10px;
}

.MessageSend {
    width: 5%;
    height: 90%;
    right: 0;
    border: none;
    font-size: 40px;
    color: #a4b396;
    background-color: transparent;
    margin-bottom: 5px;
}