.p {
    font-family: Arial, Helvetica, sans-serif;
}

.whole-page {
	height: 100%;
}

.profile-background{
    z-index: 50;
}

.profile{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullName {
    padding: 0;
    margin: 0;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

.bio {
    font-family: Arial, Helvetica, sans-serif;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePic{
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    bottom: 54%;
}

.banner-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.banner {
    margin-right: 2.4%;
    width: 102.3%;
    max-width: 1875px;
    height: 400px;
    object-fit: cover;
}

.follow-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.follow-section p {
    margin: 0 10px;
}

.follow-button {
    background-color: rgba(255, 51, 51, 0.788);
    border-radius: 10%;
    width: 100px;
    text-align: center;
    padding: 10px;
}

.vertical-line {
    width: 1px;
    height: 20px;
    background-color: #b8b8b8;
    margin: 0 10px;
}

.followers-text, .following-text{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.username {
	color: black;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.follower-profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.follower-username {
    font-size: 20px;
    margin: 5px;
}

.following-profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.following-username {
    font-size: 20px;
    margin: 5px;
}

.profile-TR {
	border-radius: 50%;
    width: 100%;
    height: auto;
}