.profile{
    width: 80%;
    border: 5px solid black;
    border-radius: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
}

.profile-text{
    display: inline-block;
    padding: 50px;
}

.profilePic{
    border-radius: 200px;
}

.bio-head{
    font-size: 2em;
    
}