p {
	color: black;
}

.whole-container {
	display: flex;
	align-items: center;
	gap: 2%;
	margin-left: 2%;
}

.comment-arrow {
	color: #a18f7c;
}

.comment-box {
    width: 70%;
    margin: 12px 0;
    padding: 10px;
	border-radius: 15px;
    border: 5px solid #a18f7c;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.leftside-comment {
    width: 95%;
}

.comment-header {
	display: flex;
	align-items: center;
	width: 50%;
	height: auto;
}

.comment-profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.header-texts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-left: 2%;
}

.comment-username {
	color: black;
    font-size: 20px;
    margin: 0;
	margin-bottom: 1%;
}

.commentTime {

}

.comment-text {
	color: black;
	margin-top: 2%;
	font-size: 20px;
}

.deleteIcon {
	cursor: pointer;
	padding: 4px;
}

.deleteIcon:hover {
	fill: #cabcae;
}

.comment-profilePic, .comment-username {
	cursor: pointer;
}