.footer-stack {
    margin-top: 4%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #49672d;
    color: #e7e9ea;
	padding-bottom: .7%;
	bottom: 0;
}

.footer-line {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: #e7e9ea;
    padding: .5% .5%;
    text-decoration: none;
}

.footer-text:hover {
    cursor: pointer;
}