.followBackground{
    z-index: 100;
    position:absolute;
    border: 5px solid #555;
    left:0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    height: 50%;
    top: 5%;
    width: 30%;
    margin-top: 8%;
    align-content: center;
    text-align: center;
    background-color: #921717;
    backdrop-filter: blur(8px);
}

.followClose{
    background-color: white;
    align-content: center;
    width: 12%;
    margin-left: 42%;
    margin-bottom: 1%;
}

.followList{
    overflow-y: auto;
    height: 85%;
    scrollbar-gutter:stable;
}

.blurBackground{
    height: 100%;
    width: 100%;
    z-index: 101;
}