.followBackground{
    z-index: 100;
    position:absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    height: 50%;
    top: 5%;
    width: 30%;
    margin-top: 8%;
    align-content: center;
    text-align: center;
    background-color: #e6d9cc;
    backdrop-filter: blur(8px);
	border-radius: 10px;
	border: 8px solid #49672d;
}

.followClose{
    background-color: #49672d;
    color: #e6d9cc;
    border-radius: 50%;
    align-content: center;
    width: 7%;
	height: 7%;
    margin-left: 2%;
    margin-bottom: 0;
	left: 0;
	margin-top: 2%;
    font-weight: bold;
}

.followList{
    display: flex;
    flex-direction: column;
    align-items: center;
	border: #49672d;
    overflow-y: auto;
    height: 85%;
    scrollbar-gutter:stable;
}

.blurBackground{
    height: 100%;
    width: 100%;
    z-index: 101;
}

.follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.follow:hover {
    background-color: #cabaaa;
}

.follow-profilePic {
    margin-top: 1%;
    border-radius: 50%;
    width: 25%;
    height: auto;
}

.follow-username {
    font-size: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e6d9cc;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }