.header {
    background-color: #930707;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.logo{
    max-width: 100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

a.head-text{
    display: inline-block;
    text-decoration:none;
    color: white;
}
a.head-text:hover{
    background-color: black;
}