.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #49672d;
    border-radius: 25px;
    width: 100%;
    padding: 14.25% 15%;
    margin-right: 14%;
    margin-bottom: 14.5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.nav-link:hover {
	background-color: #334d1b;
}

.nav-text {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 31.25px;
    padding-left: 10%;
}

.top-links {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.nav-img {
    width: 20%;
    left: 2%;
    height: auto;
}

.nav-link:hover {
    color: #b4b4b4;
    cursor: pointer;
}

.nav-section {
    flex-grow: 1; /* Ensures this section grows to take up available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    width: 100%;
}

p {
    margin: 0;
}

.header {
    height: 100%;
}

.logo-section {
    position:relative;
    height: 100%;
    width:100%;
}

.logo {
    position:absolute;
    top:0;
    bottom: 35%;
    right:20%;
    margin:auto;
    height: 40%;
    width: auto;
}

.divider {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 9%;
    width: 85%;
    height: 7%;
    background-color: #a4b396;
    bottom: 15%;
}

.profSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-left: 6.75%;
}

.profText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    margin-left: 3.25%;
}

.profPic {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.full {
    font-size: 20px;
    margin: 0;
    margin-bottom: 2%;
}

.user {
    font-size: clamp(1px, 15px, 15px);
    margin: 0;
    margin-top: 2%;
}

.dividerTop {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 9%;
    width: 85%;
    height: 5.5%;
    background-color: #a4b396;
    top: 0;
}