.nav-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #49672d;
    border-radius: 25px;
    width: 100%;
    padding: 14.25% 29%;
    margin-right: 24%;
    margin-bottom: 14.5%;
}

.nav-text {
    color: #e1e1e1;
    text-decoration: none;
    font-size: 31.25px;
    margin-left: 26%;
}

.top-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-img {
    width: 13%;
    left: 13.75%;
    position: absolute;
    height: auto;
}

.nav-link:hover {
    color: #b4b4b4;
    cursor: pointer;
}

.nav-section {
    flex-grow: 1; /* Ensures this section grows to take up available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    width: 100%;
}

p {
    margin: 0;
}

.header {
    height: 100%;
}

.logo-section {
    position:relative;
    height: 100%;
    width:100%;
}

.logo {
    position:absolute;
    top:0;
    bottom: 50%;
    right:20%;
    margin:auto;
    height: 40%;
    width: auto;
}

.divider {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 9%;
    width: 85%;
    height: 7%;
    background-color: #a4b396;
    bottom: 30%;
}