.login-form{
    z-index: 100;
    position:absolute;
    border: 1px solid #555;
    left:0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    height: 30%;
    top: 5%;
    width: 30%;
    margin-top: 15%;
    align-content: center;
    text-align: center;
    background-color: #921717;
}