body {
	font-family: Arial;
	color: white;
  }
  
  .splitTLeft {
	height: 13%;
	top: 0;
	width: 14%;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
	left: 0;
	background-color: #49672d;
  }

  .leftSide {
	box-shadow: 5px 10px red;
	height: 100%;
	width: auto;
  }
  
  .splitBLeft {
	height: 87%;
	bottom: 0;
	width: 14%;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
	left: 0;
	background-color: #78945d;
  }
  
  .splitRight {
	height: 100%;
	width: 87%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	right: 0;
	background-color: #e6d9cc;
  }