.outlet-container {
	width: 75.3%;
	margin: 0 auto;
	box-sizing: border-box;
	margin-right: 0;
}

.layout-container { 
	display: flex;
	height: 100vh;
}

header {
	 width: 50%;
	 background-color: #f0f0f0;
	 box-sizing: border-box;
	 padding: 20px
}