.outlet-container {
	width: 85%;
	margin: 0 auto;
	box-sizing: border-box;
	margin-right: 0;
}

.layout-container { 
	display: flex;
	height: 100vh;
}

header {
	box-sizing: border-box;
	padding: 20px
}

.header-logo-container {
	height: 10%;
	top: 0;
}
  
.header-container {
	height: 100%;
	bottom: 0;
}

.overall-header {
	height: 100vh;
	position: fixed;
	overflow-x: hidden;
}